body {
    text-align: justify;
    padding: 0.25em;
}

div#container {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}

h1 {
    border-bottom: 1px solid #000;
}

code {
    font-family: monospace;
    font-size: 120%;
    background-color: #eee;
    padding: 0.2em;
}

p.warn {
    background-color: #fc0;
    border: 1px solid #da0;
    color: #000;
    padding: 1em;
}

p.warn a {
    color: #000;
}

form.askConfirmation {
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}

form.askConfirmation button {
    margin: 0 1em;
}

button {
    padding: 0.4em;
    background-color: #ddd;
    border: 1px solid #bbb;
    color: #000; 
}

button.info {
    background-color: #063;
    border: 1px solid #041;
    color: #fff; 
}

button.err {
    background-color: #c00;
    border: 1px solid #a00;
    color: #fff; 
}

p.block {
    background-color: #eee; 
    border: 1px solid #ccc;
    color: #000;
    padding: 1em;
}

p.block a {
    color: #000;
}

p.info {
    background-color: #063;
    border: 1px solid #041;
    color: #fff;
    padding: 1em;
}

p.info a {
    color: #fff;
}

p.warn {
    background-color: #fc0;
    border: 1px solid #da0;
    color: #000;
    padding: 1em;
}

p.warn a {
    color: #000;
}

p.err {
    background-color: #c00;
    border: 1px solid #a00;
    color: #000;
    padding: 1em;
}

p.err a {
    color: #000;
}

table.approvals {
    width: 100%;
    border-collapse: collapse;
}

table.approvals th {
    border-bottom: 1px solid #bbb;
}

table.approvals th, table.approvals td {
    padding: 0.4em;
}

div.footer {
    border-top: 1px solid #bbb;
    margin: 1em 0;
    padding: 0.5em 0;
    font-size: 85%;
    color: #999;
    text-align: right;
}

div.footer a {
    color: #999;
}
