{
    "admin": {
        "cn": [
            "Carlos Catalano"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "employee"
        ], 
        "eduPersonEntitlement": [
            "urn:x-oauth:entitlement:applications"
        ], 
        "eduPersonPrincipalName": [
            "admin@example.edu"
        ], 
        "givenName": [
            "Carlos"
        ], 
        "mail": [
            "admin@example.edu"
        ], 
        "sn": [
            "Catalano"
        ], 
        "uid": [
            "admin"
        ]
    }, 
    "bmcatee": {
        "cn": [
            "Bobby Mcatee"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "student"
        ], 
        "eduPersonPrincipalName": [
            "bmcatee@students.example.edu"
        ], 
        "givenName": [
            "Bobby"
        ], 
        "mail": [
            "bmcatee@students.example.edu"
        ], 
        "sn": [
            "Mcatee"
        ], 
        "uid": [
            "bcatee"
        ]
    }, 
    "jmatson": {
        "cn": [
            "Janie Matson"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "student"
        ], 
        "eduPersonPrincipalName": [
            "jmatson@students.example.edu"
        ], 
        "givenName": [
            "Janie"
        ], 
        "mail": [
            "jmatson@students.example.edu"
        ], 
        "sn": [
            "Matson"
        ], 
        "uid": [
            "jmatson"
        ]
    }, 
    "jstroud": {
        "cn": [
            "Jerry Stroud"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "student"
        ], 
        "eduPersonPrincipalName": [
            "jstroud@students.example.edu"
        ], 
        "givenName": [
            "Jerry"
        ], 
        "mail": [
            "jstroud@students.example.edu"
        ], 
        "sn": [
            "Stroud"
        ], 
        "uid": [
            "jstroud"
        ]
    }, 
    "mcram": {
        "cn": [
            "Margaret Cram"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "student"
        ], 
        "eduPersonPrincipalName": [
            "mcram@students.example.edu"
        ], 
        "givenName": [
            "Margaret"
        ], 
        "mail": [
            "mcram@students.example.edu"
        ], 
        "sn": [
            "Cram"
        ], 
        "uid": [
            "mcram"
        ]
    }, 
    "mwisdom": {
        "cn": [
            "Myra Wisdom"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "student"
        ], 
        "eduPersonPrincipalName": [
            "mwisdom@students.example.edu"
        ], 
        "givenName": [
            "Myra"
        ], 
        "mail": [
            "mwisdom@students.example.edu"
        ], 
        "sn": [
            "Wisdom"
        ], 
        "uid": [
            "mwisdom"
        ]
    }, 
    "teacher": {
        "cn": [
            "Margie Korn"
        ], 
        "eduPersonAffiliation": [
            "member", 
            "employee"
        ], 
        "eduPersonEntitlement": [
            "urn:x-oauth:entitlement:administration"
        ], 
        "eduPersonPrincipalName": [
            "teacher@example.edu"
        ], 
        "givenName": [
            "Margie"
        ], 
        "mail": [
            "teacher@example.edu"
        ], 
        "sn": [
            "Korn"
        ], 
        "uid": [
            "teacher"
        ]
    }
}
